/*
Theme Name: Recipe Press Twenty Ten
Theme URI: http://recipepress.net/
Description: Child theme for Recipe Press based on the Twenty Ten theme.
Author: GrandSlambert
Version: 1.0
Template: twentyten
Tags: recipe-press, black, blue, white, two-columns, fixed-width, custom-header, custom-background, threaded-comments, sticky-post, translation-ready, microformats, rtl-language-support, editor-style
*/

@import url("../../../../themes/twentyten/style.css");

/* Override Settings */
.recipe-navigation {
     clear: both;
     margin: 10px 0 0 !important;
}

#nav-above {
     display: block;
}

/* Styles for Recipes */
.cleared {
     clear: both;
}

/* Form settings */

.recipe-press-required {
     color: #FF0000;
}

span.recipe-press-error {
     font-size: 12px;
     font-weight: bold;
     color: #FF0000;
}

table.recipe-press-submit {
     width: 100%;
}

.rp_textarea {
     width: 97%;
     height: 100px;
}

.rp_instructions_field {
     height: 200px;
}

/* New Form Fields */
.recipe-press-table {
     width: 97%;
     border: none;
}

.recipe-press-tbody {
     width: 100%;
}

.recipe-press-row {
     width: 100%;
}

.recipe-press-th {
     font-weight: bold;
     text-align: left;
     background: #EBEBEB;
}

.recipe-press-td {
     text-align: left;
}

.recipe-press-textarea {
     width: 350px;
     height: 100px;
     font-size: 11px;
}

.recipe-press-text {
     width: 75px;
}

.recipe-press-text-title {
     width: 350px;
     font-size: 11px;
}
.recipe-press-text-submitter {
     width: 350px;
     font-size: 11px;
}

.recipe-press-text-submitter_email {
     width: 350px;
     font-size: 11px;
}

.recipe-box {
     border: solid 1px #666;
     margin-bottom: 10px;
     padding: 0;
     z-index: 100;
     min-height: 250px;
     position: relative;

     border-radius: .5em;
     -moz-border-radius: .5em;
     -webkit-box-radius: .5em;

     box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
     -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.recipe-box .entry-content {
     padding: 0;
     position: relative;
}

.recipe-box .attach-bottom {
     bottom: 0;
     position: absolute;
}

.recipe-press-image-link {
     padding: 0;
     margin: 0;
}
.recipe-press-image {
     float: left;
     padding: 0 8px 0 0;
     position: relative;
}

.recipe-about {
     float: right;
     width: 380px;
     position: relative;
     min-height: 250px;
}

div.recipe-title {
     color: #666;
     margin-bottom: 2px;
     border-bottom: 1px solid #666;
}

div.recipe-title a {
     color: #333;
     text-decoration: none;
}

div.recipe-author {
     font-size: 12px;
     font-weight: normal;
     margin: 0px 0px 5px !important;
}
blockquote.recipe-notes {
     margin: 5px 0;
     padding: 0 0 0 30px;
}

div.recipe-content {
     clear: both;
}

div.recipe-section {
     clear: both;
}

h4.recipe-section-title {
     margin: 10px 0;
     font-size: 14px;
     font-weight: bold;
     padding: 5px 0;
     margin-bottom: 5px !important;
}

div.recipe-details {
     display: none;
}

ul.recipe-details {
     border-top: 1px dotted #CCCCCC;
     border-bottom: 1px dotted #CCCCCC;
     margin-bottom: 5px !important;
     display: inline-table;
     margin: 0 0 10px;
     padding: 5px 0;
     width: 100%;
}

ul.recipe-details li {
     list-style: none;
     float: left;
     width: auto;
     text-align: center;
     padding: 0;
     padding-left: 0;
     width: 33%;
     margin: 0;
     font-size: 12px;
     background-image: none;
}

recipe-prep, recipe-cook {
     border-right: 1px dotted #CCCCCC;
}

span.details-header {
     font-weight: bold;
     color: #666666;
     font-size: 12px;
}

div.recipe-servings {
     border-bottom: 1px dotted #CCCCCC;
     padding: 5px 0;
}

div.recipe-ingredients {
     border-bottom: 1px dotted #CCCCCC;
}

div.recipe-instructions {
     border-bottom: 1px dotted #CCCCCC;
}

ul.recipe-ingredients {
     margin: 0 0 5px;
     padding: 0;
}
ul.recipe-ingredients li {
     list-style-type: none;
     margin: 0;
     background-image: none;
}
ol.recipe-instructions li {
     list-style-type: decimal;
     background-image: none;
}

/* Comments Settings */
.rp-comment-list {
     padding: 0;
     margin: 0;
}
.rp-comment-list li {
     list-style-type: none !important;
     clear:both;
}

.rp-comment {
     border-top: solid 1px #666666;
     padding: 8px 0;
}
.rp-avatar {
     float:right;
}
.rp-name {
     display:block;
}
.rp-date {
     font-size: smaller;
}
.rp-perma {
     font-size: smaller;
}
.rp-comment-entry {
     clear: both;
}

.rp-comment-status {
     padding: 5px;
     background: #FFFFCC;
     font-style: italic;
     margin-bottom: 8px;
}

.rp-comment-spam {
     padding: 5px;
     background: #FF3333;
     color: #FFFFFF;
     font-style: italic;
     margin-bottom: 8px;
     border: solid 1px #666666;
}

/* List Styles */
div.recipe-list-block {
     border-bottom: dashed 1px #666666;
     margin-bottom: 5px;
}
div.recipe-list-title {
     margin: 0;
     font-size: 14px;
}

div.recipe-list-title a {
     font-size: 14px;
     text-decoration: none;
}

div.recipe-list-author {
     margin: 0;
     font-size: 10px;
}

.recipe-press-align-left {
     margin: 0 1em 1em 0 !important;
     float: left;
}

.recipe-press-align-left img {
     margin: 0;
     padding: 0;
}

.recipe-list-meta {
     font-size: 12px;
     color: #888888;
     clear: both;
}

.recipe-list-meta a {
     color: #888888;
}

.recipe-meta {
     font-size: 12px;
     color: #888888;
}

.recipe-meta a {
     color: #888888;
}

/* Category Lists */
span.recipe-category-image {
     float: left;
     margin: 0 10px 0 0;
}
h3.recipe-category-title {
     padding-bottom: 2px;
     margin-bottom: 3px !important;
     border-bottom: 1px solid #888888;
}

h3.recipe-category-title a{
     text-decoration: none;
}

p.recipe-category-description {
     margin-bottom: 0 !important;
     text-align: justify;
}

p.recipe-sample-list {
     font-size: 12px;
     padding-bottom: 2px;
}

/* Cuisine Lists */
span.recipe-cuisine-image {
     float: left;
     margin: 0 10px 0 0;
}
h3.recipe-cuisine-title {
     padding-bottom: 2px;
     margin-bottom: 3px !important;
     border-bottom: 1px solid #888888;
}

h3.recipe-cuisine-title a{
     text-decoration: none;
}

p.recipe-cuisine-description {
     margin-bottom: 0 !important;
     text-align: justify;
}

.recipe-press-ingredients-public {
     width: 150px;
}

.recipe-press-ingredients-notes-public {
     width: 150px;
     font-size: smaller !important;
}

/* Public Form */
.recipe-press-header-public {
     border-top: 1px solid #E7E7E7;
}

.recipe-press-header-sort {
     width: 60px;
     padding: 5px !important;
     white-space: nowrap;
}

.recipe-press-quantity {
     width: 60px;
}

.recipe-press-ingredients-public {
     width: 100px;
}

.recipe-press-ingredients-notes-public {
     width: 100px;
}

label.recipe-press-cuisine-public {
     width: 150px;
     float: left;
}

/* Print Classes */

/* Print Classes */
ul.recipe-controls {
     list-style: none;
     padding: 0 3px;
     margin: 0;
}

ul.recipe-controls li {
     float: left;
     text-align: center;
     font-size: 12px;
     padding: 0 15px;
}

ul.recipe-controls li a {
     text-decoration: none;
}

div.print-size {
     border: solid 1px #555;
     background: #DDD;
     margin-bottom: 10px;
     padding: 3px 8px;
}

/* Nutritional Data */
div.nutrition-data {
     border: solid 1px #000000;
     padding: 5px;
     width: 350px;
}

div.ingredient-underline {
     border-bottom: solid 1pt #000000;
}

h3.nutrition-facts {
     margin: 0 !important;
     padding: 0 !important;
     font-weight: bold;
     font-size: 25pt;
     font-family: "Frankling Gothic Heavy", "Helvetica", serif;

}

div.ingredient-serving-size {
     border-bottom: solid 7pt #000000;
     font-family: "Helvetica Regular",serif;
     font-size: 8pt;
}

div.nutrition-marker {
     font-family: "Helvetica", serif;
     font-size: 8pt;
}

dd.nutrition-top {
     background: #EBEBEB;
     margin: 0 !important;
     float: left;
     width: 180px;
     padding-right: 5px;
}

dd.nutrition-first {
     clear: both;
}
dd.nutrition-list {
     margin: 0 !important;
     float: left;
     width: 180px;
     border-top: 1px #000 solid;
     padding-right: 5px;
}

#nutri-info {
     border:1px solid #CCCCCC;
     clear:right;
     color:#333333;
     font-family:Verdana,sans-serif;
     font-size:small;
     margin:0 10px 10px 0;
     padding:10px;
     width:278px;
}

#nutri-info .title {
     color:#333333;
     font-family:Arial,Helvetica,sans-serif;
     font-size:21px;
     font-weight:bold;
}

#nutri-info .rectitle {
     color:#847840;
}
#nutri-info p {
     font-size:80%;
     margin:4px 0;
}

#nutri-info li {
     border-bottom:1px solid #000000;
     line-height:100%;
     margin:0;
     padding:8px 0;
     background-image: none;
}
#nutri-info ul {
     border-bottom:2px solid #000000;
     border-top:3px solid #000000;
     clear:right;
     font-size:80%;
     list-style-type:none;
     margin:10px 0;
     padding:0;
}

div.nutrition-outline {
     border: solid 1px #666;
     width: 240px;
     padding: 5px;
     margin-right: 10px;
     float: left;
}

div.nutrition-group-label {
     font-weight: bold;
     font-size: 13px;
}

/* Styles for Recipe Taxonomy Pages */
div.recipe-press-categories {
     background: none repeat scroll 0 0 #333333;
     display: block;
     float: left;
     margin: 0 auto 10px;
     width: 640px;
     border-radius: .5em;
     -moz-border-radius: .5em;
     -webkit-box-radius: .5em;
}

ul.recipe-press-taxonomy-list {
     list-style: none outside none;
     margin: 0;
}

.recipe-press-taxonomy-list li.cat-intro {
     color: #FFFFFF;
     display: block;
     line-height: 38px;
     padding: 0 10px;
}
.recipe-press-taxonomy-list li.cat-item {
     float: left;
     position: relative;
}

.recipe-press-taxonomy-list li.cat-item a {
     color: #AAAAAA;
     display: block;
     line-height: 38px;
     padding: 0 10px;
     text-decoration: none;
}

#recipe_taxonomy_list li:hover > a, #recipe_taxonomy_list ul ul *:hover > a {
     background: none repeat scroll 0 0 #666;
     color: #FFFFFF;
}

#recipe_taxonomy_list li:hover > ul {
     display: block;
}

.recipe-press-taxonomy-list li.cat-item a:hover {
     color: #fff;
     background: #666;
}

.recipe-press-taxonomy-list li.current-cat {
     background: #666;
     color: #fff;
}

.recipe-press-taxonomy-list li.current-cat a{
     color: #fff;
}

.recipe-press-taxonomy-list li.current-cat-parent {

}

.recipe-press-taxonomy-list ul.children {
     display: none;
     float: left;
     left: 0;
     position: absolute;
     top: 38px;
     width: 180px;
     z-index: 99999;
     list-style: none outside none;
     margin: 0;
     border-radius: 0 0 .5em .5em;
     -moz-border-radius: 0 0 .5em .5em;
     -webkit-box-radius: 0 0 .5em .5em;

     box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
     -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.recipe-press-taxonomy-list ul.children li {
     float: left;
     position: relative;
}

.recipe-press-taxonomy-list ul.children li a {
     background: none repeat scroll 0 0 #666;
     height: auto;
     line-height: 1em;
     padding: 10px;
     width: 160px;
}