@charset "UTF-8";
/* RecipePress CSS Document for Administration */

/**
 * This file can not be moved to your theme folder - it is used only for the
 * administration screens.
*/

table.editrecipe {
  /*   border-color: #dadada;*/
}

.rp-settings-notes {
     background: #lightyellow;
     border: solid 1px #E6DB55;
     padding: 3px;
}

.rp-taxonomy-header {
     background: #lightyellow;
     border: solid 1px #E6DB55;
     padding: 3px;
}

.recipe-press-settings-table {
     min-height: 580px;
}
/* Settings Tabs */
ul#recipe_press_tabs {
     border-bottom:1px solid #A2B6CB;
     font-family:Verdana,Arial;
     font-size:12px;
     font-weight:bold;
     list-style-type:none;
     margin-bottom:12px;
     padding-bottom:28px;
     z-index:1;
}

#recipe_press_tabs li {
     background-color: #EBEBEB;
     border: 1px solid #A2B6CB;
     float: left;
     height: 25px;
     margin: 2px 0px 0px 5px;
}

#recipe_press_tabs li a {
     color: #666;
     display: block;
     float: right;
     padding: 5px;
     text-decoration: none;
}

#recipe_press_tabs li.recipe-press-selected {
     background-color: #A2B6CB;
}

#recipe_press_tabs li.recipe-press-selected a{
     color: #fff;
}

#recipe_press_tabs li.save-tab {
     background-color: #666666;
     font-weight: bold;
}

#recipe_press_tabs li.save-tab a {
     color: #FFFFFF;
}

/* Taxonomy Tabs */
ul#recipe_press_taxonomy_tabs {
     border-top:1px solid #A2B6CB;
     border-bottom:1px solid #A2B6CB;
     font-family:Verdana,Arial;
     font-size:12px;
     font-weight:bold;
     list-style-type:none;
     margin-bottom:12px;
     padding-bottom:28px;
     z-index:1;
}

#recipe_press_taxonomy_tabs li {
     background-color: #EBEBEB;
     border-right: 1px solid #A2B6CB;
     float: left;
     height: 28px;
     margin: 0;
}

#recipe_press_taxonomy_tabs li a {
     color: #666;
     display: block;
     float: right;
     margin: 0;
     padding: 5px;
     text-decoration: none;
}

#recipe_press_taxonomy_tabs li.recipe-press-selected {
     background-color: #A2B6CB;
}

#recipe_press_taxonomy_tabs li.recipe-press-selected a{
     color: #fff;
}

/* Additional Styles */
.recipe-details
.attachment-32x32 {
     float: left;
     padding-right: 3px;
}

.row-actions {
     clear: both;
}

th.recipe-press-header-sort {
     width: 150px;
     white-space: nowrap;
}

th.recipe-press-header-quantity {
     width: 75px;
}

/* Form Fields */
input.recipe-press-quantity {
     width: 75px;
}

select.recipe-ingredient {
     width: 150px;
}

input.recipe-press-ingredients {
     width: 600px;
}

input.recipe-press-ingredients-notes {
     width: 150px;
}

input.recipe-press-image-input {
     width: 50px;
}

input.recipe-press-image-name {
     width: 150px;
}
input.recipe-press-image-slug {
     width: 100px;
}

#recipe-form .checkbox {
     width: inherit;
}

#icon-recipe-press {
     background: transparent url(../images/icons/large_logo.png) no-repeat scroll;
}

table.recipe-press-overview td {
     padding: 5px;
     font-size: 14px;
}

td.text {
     font-size: 12px;
}

table#rp_ingredients tr {
     padding: 2px 0;
     border: solid 0px #333333;
     margin: 5px 0;
}

span.rp_contributor_notes {
     font-size: 10px;
     padding-left: 20px;
}

div.overDiv {
     border: 1px solid #666666;
     padding: 8px;
     background: #EBEBEB;
     font-size: 12px;
}

tr.rp_size_type_divider {
     background: #ebebeb;
}

td.rp_summary {
     text-align: left;
     color: #666;
     font-size: 11px;
     margin: 8px 0 5px;
}

td.rp_summary li {
     float: left;
     margin: 8px 0 5px;
     font-size: 11px;
}

td.rp_pagination {
     text-align: right;
     color: #666;
     font-size: 11px;
     margin: 8px 0 5px;
}

span.displaying-num {
     font-style: italic;
}

a.rp_active_page_link {
     margin-right: 3px;
     border: #E3E3E3 solid 1px;
     background: #EEEEEE;
     padding: 3px 6px;
}

span.rp_inactive_page_link {
     margin-right: 3px;
     border: #E3E3E3 solid 1px;
     background: #D3D3D3;
     padding: 3px 6px;
}

/* Post Boxes */
#poststuff .inside {
     margin: 0;
}
.recipe-details, .recipe-date, .cp-table tr {
     border-bottom: solid 1px #ddd;
     padding: 5px;
}
.recipe-details label, .recipe-date label {
     font-weight: bold;
}
.no-border {
     border:none !important;
}

.grey {
     background: #ebebeb;
     margin: 0;
     padding: 3px;
     font-size: 14px;
     font-weight: bold;
}

.form-table td.cp-wide-table {
     margin:0;
     padding:0;
}



/* Autocomplete Styles */

.ac_results {
     border: 1px solid gray;
     background-color: white;
     padding: 0;
     margin: 0;
     list-style: none;
     position: absolute;
     z-index: 10000;
     display: none;
}

.ac_results li {
     padding: 2px 5px;
     white-space: nowrap;
     color: #101010;
     text-align: left;
}

.ac_over {
     cursor: pointer;
     background-color: #F0F0B8;
}

.ac_match {
     text-decoration: underline;
     color: black;
}

.ingredient-id {
     display:none;
}

.recipe-press-instructions {
     width: 600px;
}
